<h3>Books</h3>

 <table>
  <thead>
   <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
   </tr>
  </thead>
  
  <tbody>
   <% @books.each do |book| %>
   <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td>
     <%= link_to "Show", book_path(book) %>
     <%= link_to "Edit", edit_book_path(book.id) %>
     <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
   </tr>
   <% end %>
  </tbody>
 </table>
  
<h3>New book</h3>
<%= form_with model:@book, local:true do |f| %>
 <% if @book.errors.any? %>
 <%= @book.errors.count %>件のerror
 <% @book.errors.full_messages.each do |message| %>
 <%= message %>
 <% end %>
<% end %>
 <label for="book_title">Title</label>
 <%= f.text_field :title %>
 <br><label for="book_title">Body</label>
 <%= f.text_area :body %>
 <br><%= f.submit 'Create Book' %>
 
 <% if flash[:notice] %>
 <p id="notice">
     <%= flash[:notice] %>
</p>
<% end %>
<% end %>

